.block
  %h3 Date Range
  .content
    %p
      -form_tag url_for(:timesheets, :index), :class => :form, :method => :get do
        .group
          =label_tag :start_date
          =text_field_tag :start_date, :class => :text_field, :value => @start_date
        .group
          =label_tag :end_date
          =text_field_tag :end_date, :class => :text_field, :value => @end_date
        .group
          =submit_tag "Show Dates", :class => :button

.block
  %h3 Links
  %ul.navigation
    %li=link_to "Link 1"
    %li=link_to "Link 2"
